<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments for bag files -->
  <arg name="bag_file_a6" default="/datasets_extra/graco/aerial-06-20m.bag" />
  <arg name="bag_file_a7" default="/datasets_extra/graco/aerial-07-25m.bag" />
  <arg name="bag_file_a5" default="/datasets_extra/graco/aerial-05-40m.bag" />
  <arg name="bag_file_a8" default="/datasets_extra/graco/aerial-08-25m.bag" />
  <arg name="rate" default="0.5" />
  <arg name="log_dir" default="/workspaces/src/code-logs/a567" />

  <!-- Play bag file for a6 with namespace -->
  <include file="$(find kimera_multi)/launch/play_bag_graco.launch">
    <arg name="bag_file" value="$(arg bag_file_a6)" />
    <arg name="namespace" value="a6" />
    <arg name="rate" value="$(arg rate)" />
    <arg name="start_time" value="3.0" />
  </include>

  <!-- Play bag file for a7 with namespace -->
  <include file="$(find kimera_multi)/launch/play_bag_graco.launch">
    <arg name="bag_file" value="$(arg bag_file_a7)" />
    <arg name="namespace" value="a7" />
    <arg name="rate" value="$(arg rate)" />
    <arg name="start_time" value="3.0" />
  </include>

  <!-- Play bag file for a5 with namespace -->
  <include file="$(find kimera_multi)/launch/play_bag_graco.launch">
    <arg name="bag_file" value="$(arg bag_file_a5)" />
    <arg name="namespace" value="a5" />
    <arg name="rate" value="$(arg rate)" />
    <arg name="start_time" value="0.0" />
  </include>

  <include file="$(find kimera_multi)/launch/code_slam_single.launch">
    <arg name="robot_name" value="a6" />
    <arg name="robot_id" value="1" />
    <arg name="log_dir" value="$(arg log_dir)" />
    <arg name="num_robots" value="3" />
    <arg name="dataset_name" value="GrAco" />
    <arg name="vio_config_type" value="GrAcoStereoXfeat" />
    <arg name="left_cam_topic" value="/a6/camera_left/image_raw" />
    <arg name="right_cam_topic" value="/a6/camera_right/image_raw" />
    <arg name="imu_topic" value="/a6/gnss/imu" />
    <arg name="robot_names_config" value="robot_names_graco" />
  </include>

  <include file="$(find kimera_multi)/launch/code_slam_single.launch">
    <arg name="robot_name" value="a7" />
    <arg name="robot_id" value="2" />
    <arg name="log_dir" value="$(arg log_dir)" />
    <arg name="num_robots" value="3" />
    <arg name="dataset_name" value="GrAco" />
    <arg name="vio_config_type" value="GrAcoStereoXfeat" />
    <arg name="left_cam_topic" value="/a7/camera_left/image_raw" />
    <arg name="right_cam_topic" value="/a7/camera_right/image_raw" />
    <arg name="imu_topic" value="/a7/gnss/imu" />
    <arg name="robot_names_config" value="robot_names_graco" />
  </include>

  <include file="$(find kimera_multi)/launch/code_slam_single.launch">
    <arg name="robot_name" value="a5" />
    <arg name="robot_id" value="0" />
    <arg name="log_dir" value="$(arg log_dir)" />
    <arg name="num_robots" value="3" />
    <arg name="dataset_name" value="GrAco" />
    <arg name="vio_config_type" value="GrAcoStereoXfeat" />
    <arg name="left_cam_topic" value="/a5/camera_left/image_raw" />
    <arg name="right_cam_topic" value="/a5/camera_right/image_raw" />
    <arg name="imu_topic" value="/a5/gnss/imu" />
    <arg name="robot_names_config" value="robot_names_graco" />
  </include>



  <!-- <include file="$(find kimera_multi)/launch/code_slam_single.launch">
    <arg name="robot_name" value="a5" />
    <arg name="robot_id" value="2" />
    <arg name="log_dir" value="/workspaces/src/deslam_logs/graco" />
    <arg name="num_robots" value="3" />
    <arg name="dataset_name" value="GrAco" />
    <arg name="vio_config_type" value="GrAcoStereoXfeat" />
    <arg name="left_cam_topic" value="/a5/camera_left/image_raw" />
    <arg name="right_cam_topic" value="/a5/camera_right/image_raw" />
    <arg name="imu_topic" value="/a5/gnss/imu" />
    <arg name="robot_names_config" value="robot_names_graco" />
  </include> -->

</launch>